<template>
    <div class="container">
        <div class="text-center">
            <h1 class="m-0 p-0">
                <span class="badge bg-danger">WK-ANLAGEN</span>
            </h1>
            <a href="."
                ><img
                    src="@/assets/img/bb_logo_tw.jpg"
                    class="img-fluid m-0 p-0"
            /></a>
        </div>
        <hr class="mt-0" />
        <div class="row">
            <div class="col">
                <h2 class="m-0">Filter</h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="btn-group" role="group">
                <button
                    id="genehmigt"
                    type="button"
                    class="btn btn-outline-danger nohover"
                    :disabled="!getShowMap"
                    :class="getGenehmigt == true ? 'active' : ''"
                    v-on:click="
                        setGenehmigt();
                        load();
                    "
                    onclick="this.blur();"
                >
                    Genehmigt</button
                ><button
                    id="inbetrieb"
                    type="button"
                    class="btn btn-outline-danger nohover"
                    :disabled="!getShowMap"
                    :class="getInbetrieb == true ? 'active' : ''"
                    v-on:click="
                        setInbetrieb();
                        load();
                    "
                    onclick="this.blur();"
                >
                    Inbetriebnahme
                </button>
            </div>
            <div class="col-10 m-auto">
                <div class="form-group pt-4">
                    <label for="startDate">Startdatum</label
                    ><input
                        @input="debounceStartDate"
                        id="startDate"
                        type="date"
                        class="form-control"
                        v-model="wkaFilter.pipeline.startDate"
                    />
                </div>
                <div class="form-group pt-4">
                    <label for="endDate">Enddatum</label
                    ><input
                        @input="debounceEndDate"
                        id="endDate"
                        type="date"
                        class="form-control"
                        v-model="wkaFilter.pipeline.endDate"
                    />
                </div>
            </div>
        </div>
        <div class="text-end pt-3 pb-5" v-if="(getCount) => 0">
            <span v-show="getShowMap" class="badge bg-dark"
                >Anzahl: {{ getCount }}</span
            >
        </div>
        <div
            v-show="getShowMap"
            id="consolemsg"
            class="alert alert-dismissible fade show m-0 p-0 mt-3"
            role="alert"
        >
            <strong>Hinweise</strong>
            <hr class="mt-1 mb-1" />
            <code v-html="console"></code>
        </div>
        <div
            v-show="!getShowMap"
            id="consolemsg"
            class="alert alert-dismissible fade show m-0 p-0 mt-3"
            role="alert"
        >
            <strong>Hinweise</strong>
            <hr class="mt-1 mb-1" />
            <code>Filterung nur nach Zeitraum möglich.</code>
        </div>
        <div
            class="btn-group position-absolute"
            id="button-container"
            role="group"
        >
            <button
                id="btnmap"
                type="button"
                class="btn btn-danger rounded-0"
                :class="showMap == true ? 'active' : ''"
                v-on:click="setMap(true)"
                data-toggle="button"
            >
                Karte</button
            ><button
                id="btnstatistic"
                type="button"
                class="btn btn-danger rounded-0"
                :class="showMap == false ? 'active' : ''"
                v-on:click="setMap(false)"
                data-toggle="button"
            >
                Statistik
            </button>
        </div>
    </div>
</template>

<script>
import WKAService from "../WKAService";

export default {
    props: {},
    data() {
        return {
            wkaData: [],
            wkaFilter: {
                filter: {},
                options: {
                    limit: 0,
                    sort: { _id: 1 },
                },
                pipeline: {
                    startDate: "",
                    endDate: "",
                    genehmigt: false,
                    inbetrieb: false,
                },
            },
            showMap: true,
            debounce: null,
            count: 0,
            console: "",
        };
    },
    mounted() {
        // startup initialization
        this.wkaFilter.pipeline.endDate = this.createDate();
        this.wkaFilter.pipeline.startDate = this.createDate(5);
        this.load();
    },
    methods: {
        /**
         * ? load and set filters and request backend api
         */
        async load() {
            // catch errors and display in ui
            try {
                // check if filters are set up
                if (!this.checkFilter()) {
                    this.wkaData = [];
                    throw Error("Keine Daten gefunden, Filter überprüfen.");
                }

                // send filters to backend
                await WKAService.postData("/db/set", this.wkaFilter);
                try {
                    // try to get data from backend
                    const temp = await WKAService.getData("/db/aggregate");

                    // expects a array, everything else throws an error (intentional for no data found)
                    if (
                        temp !== undefined &&
                        temp !== null &&
                        temp.constructor == Array
                    ) {
                        // set wkaData and console message
                        this.wkaData = temp;
                        this.count = this.wkaData[0].length;
                        if (this.count > 0) {
                            this.console = `✅ Erfolgreich Daten gefunden.`;
                        } else {
                            this.console = `❌ Keine Daten gefunden.`;
                        }
                    }
                } catch (error) {
                    // reset wkaData
                    this.wkaData = [];
                    // emit null to app
                    this.sendData(null);
                    throw Error(error);
                }
                this.sendData(this.wkaData);
            } catch (err) {
                this.console = `❌ ` + err.message;
            }
        },

        // send wkaData to app
        sendData(arg1) {
            this.$emit("emitData", arg1);
        },
        // send showMap to app
        setMap(arg) {
            this.showMap = arg;
            this.$emit("emitShowMap", this.showMap);
        },
        // invert genehmigt
        setGenehmigt() {
            this.wkaFilter.pipeline.genehmigt = !this.wkaFilter.pipeline
                .genehmigt;
        },
        // invert inbetrieb
        setInbetrieb() {
            this.wkaFilter.pipeline.inbetrieb = !this.wkaFilter.pipeline
                .inbetrieb;
        },

        /**
         * ? check necessary inputs
         */
        checkFilter() {
            // check if date inputs are valid
            if (
                !(
                    this.isDate(this.getStartDate) &&
                    this.isDate(this.getEndDate)
                )
            ) {
                return false;
            }

            // filters are setup up right
            return true;
        },

        // check if input is a valid date
        isDate(input) {
            var date = new Date(input);
            return !isNaN(date.getDate());
        },

        /**
         * ? create date from current date
         * * @param {years} how many years ago from current date
         */
        createDate(years = 0) {
            var date = new Date();
            date.setFullYear(date.getFullYear() - years);
            date = date.toISOString().slice(0, 10);
            return date;
        },
        /**
         * ? delays the date input
         * * https://codesandbox.io/s/n9lrp9mx2p
         */
        debounceStartDate(event) {
            clearTimeout(this.debounce);
            this.debounce = setTimeout(() => {
                this.wkaFilter.pipeline.startDate = event.target.value;
                this.load();
            }, 800);
        },
        debounceEndDate(event) {
            clearTimeout(this.debounce);
            this.debounce = setTimeout(() => {
                this.wkaFilter.pipeline.endDate = event.target.value;
                this.load();
            }, 800);
        },
    },
    computed: {
        getCount() {
            return this.count;
        },
        getStartDate() {
            return this.wkaFilter.pipeline.startDate;
        },
        getEndDate() {
            return this.wkaFilter.pipeline.endDate;
        },
        getShowMap() {
            return this.showMap;
        },
        getGenehmigt() {
            return this.wkaFilter.pipeline.genehmigt;
        },
        getInbetrieb() {
            return this.wkaFilter.pipeline.inbetrieb;
        },
    },
};
</script>

<style scoped>
#button-container {
    width: 16.6666666667%;
    margin: 0 auto !important;
    left: 0;
    bottom: 0;
}
.btn[disabled] {
    color: #333;
    text-decoration: line-through;
}
</style>
