<template>
    <h2 class="text-center">WKAList</h2>
    <div class="container">
        <div
            class="wka"
            v-for="(wka, index) in wkaData"
            :item="wka"
            :index="index"
            :key="wka._id"
        >
            <ul>
                <li v-for="(value, key) in wka" :key="value">
                    {{ key }}: {{ value }}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        wkaData: {
            type: Object,
        },
    },
    data() {
        return {};
    },
    methods: {},
    watch: {
        // this function is triggered on every update of filtered data.
        wkaData() {},
    },
};
</script>

<style scoped>
.wka {
    background-color: lightgray;
    border-radius: 10px;
    margin: 2%;
    padding: 1%;
    text-align: left;
}
</style>
