<template>
    <div id="map"></div>
</template>

<!-- this code makes heavy ussage of the following examples:
https://leafletjs.com/examples/quick-start/
https://blog.logrocket.com/building-an-interactive-map-with-vue-and-leaflet/
https://leafletjs.com/examples/custom-icons/

icon source of "wind_turbine_icon.png": https://www.subpng.com/png-tk1ezw/ by Mysfusydoky
-->

<script>
import "leaflet/dist/leaflet.css";
import L from "leaflet";
import "leaflet.markercluster";
import * as $ from "jquery";

import "leaflet/dist/leaflet.css";
import "leaflet.markercluster/dist/MarkerCluster.css";
import "leaflet.markercluster/dist/MarkerCluster.Default.css";

// global object because Vue3 and Leaflet don't work well together. This is a workaround for the error described here https://stackoverflow.com/questions/65981712/uncaught-typeerror-this-map-is-null-vue-js-3-leaflet and following this solution (last sentence) https://stackoverflow.com/a/66242486
const mapData = {
    markersClusterGroup: L.markerClusterGroup({
        showCoverageOnHover: false, //hides the bounds of a cluster marker. reason: the bounds are drawn with a huge offset and therefore appear somewhere else entirely on the map
    }),
    map: undefined,
    center: [52.459028, 13.015833], //geographic center of Brandenburg (according to https://www.politische-bildung-brandenburg.de/themen/so-ist-brandenburg/zahlen-fakten/der-mittelpunkt-brandenburgs)
    icon: L.icon({
        iconUrl: require("@/assets/img/wind_turbine_icon.png"),
        iconSize: [70, 70], //size of the icon (scaled to 45px width => height = 45px/858px*980px)
        iconAnchor: [35, 70], //point of the icon which will correspond to marker's location
        popupAnchor: [0, -60], //point from which the popup should open relative to the iconAnchor
    }),
};

export default {
    props: {
        wkaData: {
            type: Array,
        },
    },
    data() {
        return {};
    },
    mounted() {
        this.setupLeafletMap();
    },
    methods: {
        // sets up the map on component load
        setupLeafletMap() {
            //create map centered on "center"
            mapData.map = L.map("map").setView(mapData.center, 8);
            L.tileLayer(
                "https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png",
                {
                    maxZoom: 17,
                    minZoom: 8,
                    attribution:
                        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Tiles style by <a href="https://www.hotosm.org/" target="_blank">Humanitarian OpenStreetMap Team</a> hosted by <a href="https://openstreetmap.fr/" target="_blank">OpenStreetMap France</a>',
                }
            ).addTo(mapData.map);
        },
        // returns wka-related, superficial content for the popup or tooltip.
        // todo: add data checks / make sure only validated data is fed in. Dynamic choice between Alt_an_anz and Inbetriebn should probably be added.
        // wka: wka whose data is to be displayed.
        buildInfoList(wka) {
            return /*html*/ `
            <div class="row">
                <div class="col p-1">
                    <table class="table table-borderless table-striped table-hover">
                        <tbody>
                            <tr>
                                <th><span class="badge bg-dark">Betreiber</span></th>
                                <td>${wka.Betreiber}</td>
                            </tr>
                            <tr>
                                <th><span class="badge bg-dark">Kreis</span></th>
                                <td>${wka.Kreis}</td>
                            </tr>
                            <tr>
                                <th><span class="badge bg-dark">Ort</span></th>
                                <td>${wka.Ort}</td>
                            </tr>
                            <tr>
                                <th><span class="badge bg-dark">Genehmigt</span></th>
                                <td>${wka.Genehmigt}</td>
                            </tr>
                            <tr>
                                <th><span class="badge bg-dark">Inbetriebnahme</span></th>
                                <td>${wka.Inbetriebnahme}</td>
                            </tr>
                            <tr>
                                <th><span class="badge bg-dark">Leistung</span></th>
                                <td>${wka.Leistung} MW</td>
                            </tr>
                            <tr>
                                <th><span class="badge bg-dark">Nabenhöhe</span></th>
                                <td>${wka.Nabenhoehe}${
                typeof wka.Nabenhoehe === "number" ? " m" : ""
            }</td>
                            </tr>
                            <tr>
                                <th><span class="badge bg-dark">Status</span></th>
                                <td>${wka.Status}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            `;
        },
        // return wka-related, detailed content for the popup-detail view.
        // wka: wka whose data is to be displayed.
        buildDetailsList(wka) {
            return /*html*/ `
            <div class="row">
                <div class="col p-1">
                    <table class="table table-borderless table-striped table-hover">
                        <tbody>
                            <tr>
                                <th><span class="badge bg-dark">Betreiber</span></th>
                                <td>${wka.Betreiber}</td>
                                <th><span class="badge bg-dark">Bst_Name</span></th>
                                <td>${wka.Bst_Name}</td>
                            </tr>
                            <tr>
                                <th><span class="badge bg-dark">Anl_Bez</span></th>
                                <td>${wka.Anl_Bez}</td>
                                <th><span class="badge bg-dark">Kreis</span></th>
                                <td>${wka.Kreis}</td>
                            </tr>
                            <tr>
                                <th><span class="badge bg-dark">Wka_ID</span></th>
                                <td>${wka.Wka_ID}</td>
                                <th><span class="badge bg-dark">Ort</span></th>
                                <td>${wka.Ort}</td>
                            </tr>
                            <tr>
                                <th><span class="badge bg-dark">Bst_Nr</span></th>
                                <td>${wka.Bst_Nr}</td>
                                <th><span class="badge bg-dark">Ortsteil</span></th>
                                <td>${wka.Ortsteil}</td>
                            </tr>
                            <tr>
                                <th><span class="badge bg-dark">Geme_Kenn</span></th>
                                <td>${wka.Geme_Kenn}</td>
                                <th><span class="badge bg-dark">PLZ</span></th>
                                <td>${wka.PLZ}</td>
                            </tr>
                            <tr>
                                <th><span class="badge bg-dark">Anl_Nr</span></th>
                                <td>${wka.Anl_Nr}</td>
                                <th><span class="badge bg-dark">Latitude</span></th>
                                <td>${wka.Latitude}&deg;</td>
                            </tr>
                            <tr>
                                <th><span class="badge bg-dark">Genehmigt</span></th>
                                <td>${wka.Genehmigt}</td>
                                <th><span class="badge bg-dark">Longitude</span></th>
                                <td>${wka.Longitude}&deg;</td>
                            </tr>
                            <tr>
                                <th><span class="badge bg-dark">Inbetriebnahme</span></th>
                                <td>${wka.Inbetriebnahme}</td>
                                <th><span class="badge bg-dark">Status</span></th>
                                <td>${wka.Status}</td>
                            </tr>
                            <tr>
                                <th><span class="badge bg-dark">LW_TAG</span></th>
                                <td>${wka.LW_TAG}${
                typeof wka.LW_TAG === "number" ? " dB(A)" : ""
            } </td>
                                <th><span class="badge bg-dark">Nabenhöhe</span></th>
                                <td>${wka.Nabenhoehe}${
                typeof wka.Nabenhoehe === "number" ? " m" : ""
            }</td>
                            </tr>
                            <tr>
                                <th><span class="badge bg-dark">LW_Nacht</span></th>
                                <td>${wka.LW_Nacht}${
                typeof wka.LW_Nacht === "number" ? " dB(A)" : ""
            } </td>
                                <th><span class="badge bg-dark">Rotordurch</span></th>
                                <td>${wka.Rotordurch}${
                typeof wka.Rotordurch === "number" ? " m" : ""
            }</td>
                            </tr>
                            <tr>
                                <th><span class="badge bg-dark">Stand_Abw</span></th>
                                <td>${wka.Stand_Abw}${
                typeof wka.Stand_Abw === "number" ? " dB(A)" : ""
            } </td>
                                <th><span class="badge bg-dark">Leistung</span></th>
                                <td>${wka.Leistung} MW</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            `;
        },
        // returns html content to be inserted into a tooltip
        // wka: the wka, whose data is to be used. the tooltip will be shown for this wka.
        // returns html that can be used in the bindTooltip function
        buildTooltip(wka) {
            return /*html*/ `<div class='tooltipContentStyle'>
                        ${this.buildInfoList(wka)}
                    </div>`;
        },
        // returns html content to be inserted into a popup
        // wka: the wka, whose data is to be used. the popup will be shown for this wka.
        // parentMarker: the marker to which the popup belongs. this is important to make expaning into the detail view and closing the detail view again.
        // returns html that can be used in the bindPopup function
        buildPopup(wka, parentMarker) {
            // create popup with a "Details" button to expand into a detail view
            // https://stackoverflow.com/a/13699060 explains how to circumvent leaflet blocking event propagation from the popup (also see https://github.com/Leaflet/Leaflet/issues/301)
            let container = $("<div/>"); // Create an element to hold all your text and markup
            container.on(
                "click",
                ".detailsButton",
                { wka: wka, parentMarker: parentMarker },
                this.expandPopup
            ); // Delegate all event handling for the container itself and its contents to the container
            container.html(/*html*/ `<div class='popupContentStyle'>
                    ${this.buildInfoList(wka)}
                    <button type="button" class="detailsButton btn btn-danger mt-2">Details</button>
                </div>`); // Insert whatever you want into the container

            return container[0];
        },
        // expands the popup into a details view.
        // this function is called by the "Details" button in the popup, expands the popup to the details view and adds a event handler to revert the popup content back to the superficial information, when the popup is closed.
        // event: object that contains some relevant data from the popup (wka data to be displayed and the marker object the popup belongs to)
        expandPopup(event) {
            // change popup content to details view
            event.data.parentMarker.setPopupContent(
                this.buildDetailsList(event.data.wka)
            );

            // add event listener to popup, so when the detail view (popup) is closed, the content will be reset to the superficial view (popup).
            // otherwise, once the details view has been actived, the popup always shows details, never the superficial view, even when it's closed and reopened.
            // this part might need refactoring, when there's time. currently i can't come up with a better approach.
            event.data.parentMarker.getPopup().on(
                "remove",
                function () {
                    // on the popup's remove event (which happens when the popup is closed)
                    this.parentMarker.setPopupContent(
                        this.this.buildPopup(this.wka, this.parentMarker)
                    ); // reset the popup content to the superficial view
                }.bind({
                    this: this,
                    parentMarker: event.data.parentMarker,
                    wka: event.data.wka,
                })
            ); // bind the wkas and auxiliary (parent marker) data to the functino, otherwise it seems to be inaccessible and thus, the above step of resetting the popup cannot execute
        },
    },
    watch: {
        // this function is triggered on every update of filtered data.
        // it also updates all markers on the map to only show all WKAs returned by the filter.
        wkaData() {
            //clear all markers (so that markers removed by filtering dont show up)
            mapData.markersClusterGroup.clearLayers();

            // received data is null only clear markers
            if (this.wkaData[0] != null) {
                // place and store marker for every wka
                this.wkaData[0].forEach((element) => {
                    let m = L.marker([element.Latitude, element.Longitude], {
                        icon: mapData.icon,
                    });
                    m.bindPopup(
                        L.popup().setContent(this.buildPopup(element, m)),
                        {
                            maxWidth: "auto",
                        }
                    ); //pass the marker, the popup is on (for expansion)
                    m.bindTooltip(this.buildTooltip(element));

                    mapData.markersClusterGroup.addLayer(m);
                });

                // add all markers to map
                mapData.map.addLayer(mapData.markersClusterGroup);
            }
        },
    },
};
</script>

<!-- leaflet styles cannot be scoped -->
<style>
.tooltipContentStyle {
    text-align: left;
}
.popupContentStyle {
    text-align: left;
}
.leaflet-popup {
    min-width: 600px;
}
</style>

<style scoped>
#map {
    height: 100vh;
    font-size: 0.9rem;
}
</style>
