<template>
    <div class="container bg-white">
        <div class="chart1">
            <canvas id="chart1" aria-label="Chart1" role="img"
                ><p>
                    Your browser does not accept this canvas element.
                </p></canvas
            >
        </div>
        <div class="chart2">
            <canvas id="chart2" aria-label="Chart2" role="img"
                ><p>
                    Your browser does not accept this canvas element.
                </p></canvas
            >
        </div>
    </div>
</template>

<script>
import { Chart, registerables } from "chart.js";
import "chartjs-adapter-moment";
Chart.register(...registerables);
const chartcfg = require("./charts/config");

var ctx1, ctx2;
var c1, c2;

export default {
    props: {
        wkaData: {
            type: Array,
        },
    },

    data() {
        return {
            chart1: [],
            chart2: [],
        };
    },

    mounted() {
        // read in chart configurations
        this.chart1 = chartcfg.chart1;
        this.chart2 = chartcfg.chart2;

        ctx1 = document.getElementById("chart1").getContext("2d");
        ctx2 = document.getElementById("chart2").getContext("2d");

        c1 = new Chart(ctx1, this.chart1);
        c2 = new Chart(ctx2, this.chart2);
    },

    methods: {
        // this function is triggered on every update of filtered data.
        //todo: add pipeline with summed data and pass real date types with the returned objects
        //the following implementation might need to be refactored and is only a temporary solution until the pipeline is finished
        //this code updates the chart when the data is updated
        genChart1() {
            this.chart1.data.datasets[0].label = [
                "Leistung der WKAs kumulativ über einen Zeitraum",
            ];

            // destroys old chart.
            c1.destroy();

            // no data
            if (this.wkaData[1].length <= 1) {
                //one field is (almost) always present (except if the end date is before the first wka). It is the field for the power baseline / power up until and including the start date
                // generate empty chart
                this.chart1.data.datasets[0].data = [];
                this.chart1.data.labels = [];
                this.chart1.data.datasets[0].label = "Keine Daten gefunden.";

                c1 = new Chart(ctx1, this.chart1);
                return;
            }

            //vars
            let date = []; //date array fed to chartjs as x axis
            let power = []; //power array fed to chartjs as y axis
            let powerSum = 0; //power total of all WKAs (that are included by the filter) so far
            let dataset = []; //dataset for power and date

            for (const key in this.wkaData[1]) {
                //calculate (and update) cumulative power up to a given date
                powerSum += this.wkaData[1][key].dayTotal;
                power.push(Math.round((powerSum + Number.EPSILON) * 100) / 100); //round to 2 decimal places (10^2 = 100)
                date.push(this.wkaData[1][key].Inbetriebnahme);
            }

            power.forEach((element, index) => {
                dataset.push({
                    x: this.DateToISODate(date[index]),
                    y: power[index],
                });
            });

            // Inserts data into chart 1 data (y-axis) and labels (x-axis).
            this.chart1.data.datasets[0].data = dataset;

            // create chart with data
            c1 = new Chart(ctx1, this.chart1);
        },
        genChart2() {
            this.chart2.data.datasets[0].label = ["PLZ nach größter Leistung"];

            // destroys old chart.
            c2.destroy();

            // no data
            if (this.wkaData[2].length <= 0) {
                // generate empty chart
                this.chart2.data.datasets[0].data = [];
                this.chart2.data.labels = [];
                this.chart2.data.datasets[0].label = "Keine Daten gefunden.";

                c2 = new Chart(ctx2, this.chart2);
                return;
            }
            
            let totalP = [];
            let plz = [];

            this.wkaData[2].forEach((wka) => {
                plz.push(wka._id);
                totalP.push(wka.totalP);
            });

            // insert data into chart 2 data (y-axis) and labels (x-axis).
            this.chart2.data.datasets[0].data = totalP;
            this.chart2.data.labels = plz;

            // create chart with data
            c2 = new Chart(ctx2, this.chart2);
        },
        // dd.mm.yyyy to ISODate
        DateToISODate(date) {
            let tmp = date;
            tmp = tmp.split(".");
            tmp = new Date(
                parseInt(tmp[2]),
                parseInt(tmp[1]) - 1,
                parseInt(tmp[0])
            );
            return tmp;
        },
    },

    watch: {
        // this function is triggered on every update of filtered data.
        wkaData() {
            this.genChart1();
            this.genChart2();
        },
    },
};
</script>

<style scoped>
.chart1 {
    height: 50vh;
}
.chart2 {
    height: 50vh;
}
</style>
