<template>
    <div class="row overflow-hidden gx-0">
        <div class="col-2 col-md-2 p-3">
            <WKAFilter v-on:emitData="setData" v-on:emitShowMap="setShowMap" />
        </div>
        <div class="col">
            <div v-show="showMap">
                <WKAMap :wkaData="wkaData" />
            </div>
            <div class="diagonal" v-show="!showMap">
                <WKAStatistic :wkaData="wkaData" />
            </div>
        </div>
    </div>
</template>

<script>
import WKAFilter from "./components/WKAFilter.vue";
import WKAMap from "./components/WKAMap.vue";
import WKAStatistic from "./components/WKAStatistic.vue";

export default {
    components: {
        WKAFilter,
        WKAMap,
        WKAStatistic,
    },
    data() {
        return {
            wkaData: [],
            showMap: true,
        };
    },
    /**
     * ? set emmitted data from other components
     */
    methods: {
        setData(filteredData) {
            this.wkaData = filteredData;
        },
        setShowMap(state) {
            this.showMap = state;
        },
    },
};
</script>

<style>
#app {
    font-family: "Helvetica";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
}
</style>

<style scoped>
.polka {
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#cccccc 1.3px, #ffffff 1.3px);
    background-size: 26px 26px;
}
.diagonal {
    background-color: #ffffff;
    opacity: 1;
    background-size: 26px 26px;
    background-image: repeating-linear-gradient(
        45deg,
        #f1f1f1 0,
        #f1f1f1 2.6px,
        #ffffff 0,
        #ffffff 50%
    );
}
</style>
